.loginBtn {
    color: rgb(0, 0, 0);
    height: 48px;
    box-shadow: rgba(0, 0, 0, 0.3) 0 3px 5px 2px;
    border-radius: 50px !important;
    padding: 0 20px !important;
}

.logOutBtn {
    /**/
    color: #FFF !important;
    position: absolute !important;
    right: 2% !important;
    top: 14px !important;
}
