.container {
  padding: 0 2rem;
}

.main {
  min-height: 100vh;
  padding: 4rem 0;
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.footer {
  display: flex;
  flex: 1;
  padding: 2rem 0;
  border-top: 1px solid #eaeaea;
  justify-content: center;
  align-items: center;
}

.footer a {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-grow: 1;
}

.title a {
  color: #0070f3;
  text-decoration: none;
}

.title a:hover,
.title a:focus,
.title a:active {
  text-decoration: underline;
}

.title {
  margin: 0;
  line-height: 1.15;
  font-size: 4rem;
}

.title,
.description {
  text-align: center;
}

.description {
  margin: 4rem 0;
  line-height: 1.5;
  font-size: 1.5rem;
}

.code {
  background: #fafafa;
  border-radius: 5px;
  padding: 0.75rem;
  font-size: 1.1rem;
  font-family: Menlo, Monaco, Lucida Console, Liberation Mono, DejaVu Sans Mono,
    Bitstream Vera Sans Mono, Courier New, monospace;
}

.grid {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  max-width: 800px;
}

.card {
  text-align: left;
  color: inherit;
  transition: color 0.15s ease, border-color 0.15s ease;
  width: 70%;
  margin-top: 7%;
  margin-left: 4%;
  background: #FDFDFD;
  box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.25);
}

.card:hover,
.card:focus,
.card:active {
  color: #0070f3;
  border-color: #0070f3;
}

.card h2 {
  margin: 0 0 1rem 0;
  font-size: 1.5rem;
}

.card p {
  margin: 0;
  font-size: 1.25rem;
  line-height: 1.5;
}

.logo {
  height: 1em;
  margin-left: 0.5rem;
}

@media (max-width: 600px) {
  .grid {
    width: 100%;
    flex-direction: column;
  }
}

.navbar {
  position: fixed, static;
  width: 100%;
  height: 71px;
  background: rgb(255, 146, 146);
  box-shadow: 0px 5px 12px rgba(0, 0, 0, 0.25);
  align-items: center;
  margin: 0%;
}

.redlogo {
  
  position: absolute;
  height: 179px;
  width: 250px;
  left: 4%;
  top: -70px;
  border-radius: 56px;
  background: #FF2525;
  box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.25);

}

.pun {
  position: absolute;
  width: 300px;
  height: 100px;
  font-size: 64px;
  font-weight: 700;
  display: flex;
  left: 24%;
  top: 45%;

  color: #FFFFFF;

  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25), 0px 4px 4px rgba(0, 0, 0, 0.25), 0px 4px 4px rgba(0, 0, 0, 0.25), 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.headtext {
  position: absolute;
  width: 347px;
  height: 48px;
  left: 112px;
  top: 198px;

  font-style: normal;
  font-weight: 700;
  font-size: 32px;
  line-height: 39px;
  display: flex;
  align-items: center;
  letter-spacing: -0.05em;

  color: rgba(0, 0, 0, 0.8);
}

.subheader {
  position: static;
  width: 475px;
  height: 29px;

  font-weight: 400;
  font-size: 24px;
  line-height: 29px;
  display: flex;
  align-items: center;
  text-align: center;
  letter-spacing: -0.05em;

  color: #000000;
}

